<html>
<head>
    <title>Home - ERPIMS</title>
</head>
<body>
    <link rel="stylesheet" href="../lib/css/site.css">
    <header class="customHeader">
        <nav align="right">
            <img align="left" src="/ERP-Inventory-Management-System/lib/images/erpims.JPG" />
            <br />
            <a style="text-decoration-line: inherit; color: white; margin: 3px;" href="homepage.html">Home</a> &nbsp;
            <a style="text-decoration-line: inherit; color: white; margin: 5px;" href="../Views/login.php">Login</a>
        </nav>
    </header>
    <img src="../lib/images/office.jpg" style=" width: fit-content;   padding-left: 8px;" />
</body>
</html>
<header>
    <nav align="right">
        <img align="left" />
    </nav>
</header>