<h2 align="center">Register Deals</h2>
<center>
    <fieldset style="width: 20%;">
        <legend>Create Deal Record</legend>
        <form id="form">
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="Name" placeholder="Name" id="Name" />
                    </td>
                </tr>
                <tr>
                    <td>Partner</td>
                    <td>
                        <input type="text" name="Partner" placeholder="Partner Name Here" id="Partner" />
                    </td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>
                        <input type="text" name="Project" placeholder="Project Name Here" id="Project" />
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>
                        <input type="date" name="Date" placeholder="Date" id="Date" />
                    </td>
                </tr>
            </table>
            <hr />
            <input type="button" id="record" value="Submit" /> <br /><br />
            <div id="statusMessage"></div>
        </form>
    </fieldset>
</center>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="../lib/js/registerDeals.js"></script>